/* CSS */
body{
	background-color:#B2855C;
}
/* 
Website: My Programming Site v.1
Author: MICHAEL H WILSON
*/
h1{
	color:#FFD8B6 ;
	font-family:;
	font-size: 55px;
	text-align: center;
	margin-top:0;
	margin-bottom:10px;
}
h1:hover{
	color:brown;
}
img{
	float:right;
	padding:10px;
}
p{
	color:#FFCB9C;
	font-family: Times, Georgia, serif;
	font-size: 15px;
}	
p:first-letter{
	font-size:35px;
	font-weight:bold;
}
hr{
	border-color:#9CEDFF;
}
/*content is style*/
#content{
	width:700px;
	border-width: 2px;
	border-color: #9CEDFF;
	border-style: solid;
	background-color:#B2855C;
	margin:50px auto 0 auto;
	padding:20px;
	border-radius:75px;
	box-shadow: 10px 10px 5px #888888;
}